In [1]:
new_string = "String"  # storing a string

print('ID:', id(new_string))  # shows the object identifier (address)
print('Type:', type(new_string))  # shows the object type
print('Value:', new_string)  # shows the object value

ID: 2134334279896
Type: <class 'str'>
Value: String

In [2]:
simple_string = 'Hello!' + "string " #String Concatenation
print(simple_string)

Hello!string

In [3]:
len(simple_string) #String Length

13

In [4]:
'string' in  simple_string       #Substring check

True

In [5]:
#String Slicing
simple_string [:]

'Hello!string '

In [6]:
simple_string [1:4]

'ell'

In [7]:
simple_string[::1]  # no offset

'Hello!string '

In [8]:
simple_string[::2]  # print every 2nd character in string

'Hlosrn '

In [9]:
simple_string.capitalize()

'Hello!string '

In [10]:
s = 'Hello!'
s.upper()

'HELLO!'

In [11]:
s.replace('Hello!', 'NLP')

'NLP'

In [12]:
tale = 'This is the best of times.'
tale.count('i')

3

In [13]:
'hello ' + 'there'.upper()

'hello THERE'

In [14]:
multi_line_string = """Hello I'm
a multi-line
string!"""

multi_line_string

"Hello I'm\na multi-line\nstring!"

In [15]:
print(multi_line_string)

Hello I'm
a multi-line
string!

In [16]:
tale[::-1]  # reverses the string

'.semit fo tseb eht si sihT'

In [17]:
s = 'I,am,a,comma,separated,string'
s

'I,am,a,comma,separated,string'

In [18]:
s.split(',')

['I', 'am', 'a', 'comma', 'separated', 'string']